# .gitignore for the UglyLaTeX Project.
#
# Name: .gitignore
# Date: 2025/04/07
# Version: 0.1.0.1
# License: Copyright (c) Githubonline1396529

# All auxiliary files of LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.loc
*.out
*.run.xml
*.soc
*.toc
*.xdv

# The vscode workspace folder
.vscode
.vscode/*

# PDF files in example dictionary
example/*.pdf
example/_minted*
example/*.minted